body {
  font-family: Arial;
  background: #111;
  color: white;
  text-align: center;
}

input {
  padding: 10px;
  width: 60%;
  margin: 20px;
}

.controls button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

#movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: #222;
  padding: 10px;
  border-radius: 10px;
}

.light .card {
  background: #eee;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}